// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.page-header {
	height: 60px;
	padding: 20px 0;
	background: transparent;
	@include clearfix;
	transform: background 0.3s ease-in;
}

.header-left-sec {
	
}

.header-right-sec {
	float: right;

	ul {
		@include list-inline;
		display: inline-block;
	}

	.nav {
		li {
			padding: 0 15px;

			a {
				color: $white;
				position: relative;
				@include underline($white, 1px, -6px);
			}
		}
	}

	.language-switch {
		margin-left: 30px;
		
		li {
			padding: 0 5px;

			&:not(:last-child) {
				border-right: 1px solid $white;
			}

			a {
				color: $white;
				@include underline($white, 1px, -6px);
			}
		}
	}
}