.pastor {
	color: $tundora;
	background: $white;

	.container {
		@include clearfix;
		padding: 80px 0;
		background: radial-gradient(transparent, $white 60%),
		            url('../i/assets/pastor.jpg') no-repeat;
		background-size: 50% 100%, 50%;
		background-position: right;
	}

	.inner-wrapper {
		width: 640px;
	}

	p {
		margin-top: 10px;
		font-size: em(20px);
	}

	span {
		display: block;
		text-align: right;
		margin-top: 15px;
	}

}