$pacific-blue:		#0494c9;
$carnaby-tan:		#632500;
$my-sin:			#ffb715;
$red:				#ff0000;
$shakespeare: 		#4bbaca;
$limeade: 			#74b000;
$burlywood:         #deb887;
$copper:			#C88937;


$white: 			#ffffff;
$wild-sand:			#f5f5f5;
$gallery: 			#f0f0f0;	
$mercury: 			#e6e6e6;
$silver: 			#cccccc;
$nobel: 			#b3b3b3;
$dusty-gray:		#999999;
$oslo-gray:			#949699;
$gray:				#8c8c8c;
$scorpion:			#5e5e5e;
$tundora: 			#4d4d4d;
$mine-shaft: 		#333333;
$black: 			#000000;