/**
 * Basic typography style for copy text
 */
body {
  color: $nobel;
  font-family: $myriad-pro;
  font-size: em(16px);
  line-height: 1.5;
}

h1 {
	font-size: em(72px);
}

h2 {
	font-size: em(46px);
	color: $tundora;
}