// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero {
	margin-top: -60px;
	position: relative;
	z-index: -1;

	.section-bg {
		background: linear-gradient(rgba($pacific-blue, 0.7), transparent),
					url('../i/assets/river.png') no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.inner-wrapper {
		padding: 300px 0;
		color: $white;

		h1 {
			text-align: center;
			letter-spacing: 20px;
		}

		// p {
		// 	margin-top: 20px;
		// 	font-size: em(20px);
		// 	position: relative;

		// 	span {
		// 		position: absolute;
		// 		bottom: 0;
		// 		right: 10px;
		// 	}
		// }
	}
}